
<div class = "calendar" id = "calendar">

<h3>calendar</h3>

<form id='addEventForm'>
  <br>Time:<br>
  <select id ="time" style="width: 100px">
    <!-- populate time dropdown menu -->
    <script>
      var hour = 0;
      for(var i=0; i<24; i++){
        if(i < 10){
          document.write('<option value = \"0' + i + ':00\">' + '0' + i + ':00</option>');
        }else{
          document.write('<option value = \"' + i + ':00\">' + i + ':00</option>');
        }
      }
    </script>
  </select>
  <br>Description:<br>
  <input type="text" name="description" id="description"><br>
</form>

<table border = "2" width="100%">
  <thead>
    <tr>
      <th id="previous_year"><<</th>
      <th id = "previous_month"><</th>
      <th colspan="3"><div id="month"></div><div id ="year"></div></th>
      <th id="next_month">></th>
      <th id="next_year">>></th>
    </tr>
    <tr>
      <th>Sun</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
    </tr>
  </thead>
  <tbody id ="table_body">
  </tbody>
 </table> 
<a class = "btn btn-default" href = "/appointments">View All Appointments</a>
 
</div>
