<!DOCTYPE html>
<html>
<head>
  <title>Internet Application Development with RoR by M.Diamond</title>
	<%= stylesheet_link_tag    "application", media: "all"%>
	<%= javascript_include_tag "application"%>
	<%= csrf_meta_tags %>
</head>
<body>
 <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <h3 id="app_heading">Internet Application Development with RoR 
            <a href="/home" class ="pull-right">
              <font color ="FFFFFF">HOME</font>
            </a>
          </h3>
        </div>
      </div>
  </header>
  <div class="container">
    <%= yield %>
  </div>
<!-- /.container -->


    <!-- Bootstrap core JavaScript
    =========================
</body>
</html>
